#expense-page-main {
    padding: 0;
    top: 0;
    bottom: 0;
}

.premium-container {
    flex: 1;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(82, 214, 150);
}

#premium-user {
    padding-left: 1rem;
    font-size: 1rem;
}

#buy-premium-btn {
    background-color: rgb(82, 214, 150);
    font-size: 1.25rem;
    padding: 1rem;
    border: none;
}

#buy-premium-btn:hover {
    cursor: pointer;
}

.form-container {
    flex: 2;
    justify-content: center;
}

#expense-list {
    flex: 7;
    background-color: rgb(44, 44, 44);
    list-style-type: none;
    margin: 0;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

.expense-item {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del-btns {
    border: 0.1rem solid white;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 0.5rem;
}

.del-btns:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.5);
}

.del-btns:focus {
    outline: none;
    background-color: rgb(255, 0, 0, 0.5);
}

#expense-form {
    width: 100%;
    padding: 0 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#expense-form label {
    display: none;
}

#expense-form input,
#expense-form select {
    width: 20%;
    height: 4rem;
    margin: 0;
    padding: 0.5rem;
    color: white;
    background-color: rgb(44, 44, 44);
    border: none;
}

#expense-form input:focus {
    outline: none;
}

#expense-form select:hover {
    cursor: pointer;
}

#expense-form button {
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: rgb(44, 44, 44);
}

::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: rgb(82, 214, 150, 0.5);
}