*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Comfortaa';
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(35, 35, 35);
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    padding: 2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-name {
    flex: 1;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: rgb(82, 214, 150);
}

.form-container {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    margin: 2rem 0;
}

a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(82, 214, 150);
}

form {
    width: 50%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

form input {
    margin-bottom: 2rem;
    padding: 0.5rem;
    height: 4rem;
    color: white;
    background-color: rgb(44, 44, 44);
    border: none;
}

form input:focus {
    outline: none;
}

input {
    caret-color: rgb(82, 214, 150);
}

input:-webkit-autofill {
    transition: background-color 60000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

#forgot-password-btn {
    color: rgb(82, 214, 150);
    background-color: transparent;
    align-self: flex-end;
    border: none;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#forgot-password-btn:hover {
    cursor: pointer;
}

#login-btn,
#signup-btn,
#reset-password-btn {
    border: 0.2rem solid white;
    font-weight: bold;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 1rem;
    height: 4rem;
    width: 30%;
    align-self: center;
}

#login-btn:hover,
#signup-btn:hover,
#reset-password-btn:hover {
    cursor: pointer;
    background-color: rgb(82, 214, 150, 0.5);
}

#login-btn:focus,
#signup-btn:focus,
#reset-password-btn:focus {
    outline: none;
    background-color: rgb(82, 214, 150, 0.5);
}

.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(82, 214, 150);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forgot-password-form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(44, 44, 44);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

#forgot-password-form-container h1 {
    font-size: 2rem;
}

#forgot-password-form {
    background-color: rgb(35, 35, 35);
    width: 50%;
    height: 25%;
    padding: 2rem;
}

#reset-password-close-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    color: rgb(82, 214, 150);
    border: none;
    font-size: x-large;
}

#reset-password-close-btn:hover {
    cursor: pointer;
}

/* RESPONSIVENESS */
@media screen and (max-width:450px) {
    form {
        width: 80%;
    }

    form button {
        width: 50%;
    }

    h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:900px) {
    form {
        width: 65%;
    }
}

@media screen and (max-height:450px) {
    html {
        font-size: 7px;
    }

    main {
        padding: 1rem 0;
    }

    p {
        margin: 1rem;
    }

    form input {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}