#expense-page-main {
    padding: 0;
    top: 0;
    bottom: 0;
}

.premium-container {
    flex: 1;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(82, 214, 150);
}

#premium-user {
    padding-left: 1rem;
    font-size: 1rem;
}

#buy-premium-btn,
#leaderboard-btn,
#download-btn {
    background-color: rgb(82, 214, 150);
    font-size: 1.25rem;
    padding: 1rem;
    border: none;
}

#leaderboard-close-btn {
    color: rgb(82, 214, 150);
    background-color: transparent;
    border: none;
    padding-right: 1rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#download-container{
    padding: 2rem;
}

#buy-premium-btn:hover,
#leaderboard-btn:hover,
#leaderboard-close-btn:hover,
#download-btn {
    cursor: pointer;
}

#leaderboard-container {
    background-color: rgb(35, 35, 35);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#leaderboard-container div {
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leaderboard-container div h1 {
    font-size: 2rem;
    padding-top: 1rem;
}

#leaderboard-list {
    background-color: rgb(44, 44, 44);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
}

.list-item {
    background-color: rgb(35, 35, 35);
    width: 50%;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item-name {
    margin: 0;
    flex: 2;
}

.list-item-expense {
    margin: 0;
    flex: 1;
}

.list-item span {
    color: rgb(82, 214, 150);
}

.form-container {
    flex: 2;
    justify-content: center;
}

#expense-list {
    flex: 7;
    background-color: rgb(44, 44, 44);
    list-style-type: none;
    margin: 0;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: scroll;
}

.expense-item {
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
    border: none;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del-btns {
    border: 0.1rem solid white;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 0.5rem;
}

.del-btns:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.5);
}

.del-btns:focus {
    outline: none;
    background-color: rgb(255, 0, 0, 0.5);
}

#expense-form {
    width: 100%;
    padding: 0 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#expense-form label {
    display: none;
}

#expense-form input,
#expense-form select {
    flex: 1;
    height: 4rem;
    margin: 0 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgb(44, 44, 44);
    border: none;
}

#expense-form input:focus {
    outline: none;
}

#expense-form select:hover {
    cursor: pointer;
}

#add-expense-btn {
    flex: 1;
    border: 0.2rem solid white;
    font-weight: bold;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 1rem;
    margin: 0 1rem;
    height: 4rem;
}

#add-expense-btn:hover, #add-expense-btn:focus {
    cursor: pointer;
    background-color: rgb(82, 214, 150, 0.5);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: rgb(44, 44, 44);
}

::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: rgb(82, 214, 150, 0.5);
}